h1{
    color: #1E8449;
    display: inline;
}
span{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FA8072;
    font-size: larger;
    text-align: center;
}
.red{
    text-align: center;
    color: #34495E;
}
.black{
    font-size: large;
    color: darkred;
}
.sin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}